ul {
    min-width: 940px;
    margin: 30px;
    border: 1px solid #000;
    background-color: #eee;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 15px;
}

.a {
    background-color: #ff6347;
}

.b {
    background-color: #ff8c00;
}

.c {
    background-color: #ffd700;
}

.d {
    background-color: #3cb371;
    font-size: 72px; 
}

.e {
    background-color: #1e90ff;
}

.f {
    background-color: #9370db;
}

/* flexblox responds to the content of their natural width first, then distrubutes leftover space on the row*/
ul.flex {
    display: flex;
    justify-content: space-around;

    /*align-items distributes the space on the cross axis, The tallest item defines the height for the whole row*/

    align-items: stretch; /*default propert*/
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;

    /*shprthand propert can use for both justify-content and align-items*/
    place-items: baseline center;
}